body {
  margin: 0;
  padding: 0;
  background-color: #011a2c;
}

.container {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  padding: 10px 20px;
  color: #f1f1f1;
  border-radius: 10px;
  background: #011a2c;
  box-shadow: 5px 5px 2px #010d16, -5px -5px 2px #012742;
}

.days {
  padding-top: 20px;
  font-size: 18px;
}

.day {
  padding: 5px;
}

.active {
    color: aqua;
}